
<div class="panel-footer" style="text-align:center">
	<ul class="list-inline">
		<li><span style="margin:-5px; padding:5px;"  >Powered By <a href="http://weibo.com/elfzhang" target="_blank"><strong>Devel</strong></a></span></li>
	
		<li><span style="margin:-5px; padding:5px;" >Mail: cmy_zs@163.com</span></li>
		
		<li><span>Copyright © 2013~ &nbsp; </span></li>
		
		<li><span>Fork on <a href="https://github.com/zhangsheng/zhangsheng.github.io" target="_blank">Github</a> </span></li>
		
		<li><span><link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml"></span></li>
		<li><span><a href="/feed.xml" target="_blank">RSS</a></span></li>
	</ul>
	<span>友情链接：</span>
	<span class="label"><a href="http://www.ziyang.me/" target="_blank">竹林</a></span>
	<span class="label"><a href="http://daydreamer00.github.io/" target="_blank">daydreamer</a></span>
</div>