

{% if include.param %}
	{% for tag in include.param %}
		{% case forloop.index %}
			{% when 1 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-a">{{ tag }}</span></a>
			{% when 2 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-b">{{ tag }}</span></a>
			{% when 3 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-c">{{ tag }}</span></a>
			{% when 4 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-d">{{ tag }}</span></a>
			{% when 5 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-e">{{ tag }}</span></a>
			{% else %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-default">{{ tag }}</span></a>
		{% endcase %}
	{% endfor %}	
{% else %}
	{% for tag in page.tags %}
		{% case forloop.index %}
			{% when 1 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-a">{{ tag }}</span></a>
			{% when 2 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-b">{{ tag }}</span></a>
			{% when 3 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-c">{{ tag }}</span></a>
			{% when 4 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-d">{{ tag }}</span></a>
			{% when 5 %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-e">{{ tag }}</span></a>
			{% else %}<a href="/web/tags.html#{{tag}}--link"><span class="label label-default">{{ tag }}</span></a>
		{% endcase %}
	{% endfor %}
{% endif %}
