<img id="profile" src="/assets/img/xly.jpg" />
<hr/>

<div class="panel"  style="background:rgba(0,0,0,0)">
	<div class="panel-heading">
		<strong>最新文章</strong>
	</div>
	<div class="panel-body" style="padding:0px">
	<ul class="list-group">
	{% for post in site.posts limit:5 %}
		<li class="list-group-item" style="background:rgba(0,0,0,0)"><em>{{ post.date | date: "%Y-%m-%d" }}</em> - <a href="{{post.url}}"><strong>{{ post.title }}</strong></a></li>
	{% endfor %}
	</ul>
	</div>
</div>